flows.json
[{"id":"96fc163a.5b92a8","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"c94ff7d1.95d008","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"dc2d7899.5a55f8","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"511de045.8be1e","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"fb64d61.514ee28","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"7b5a9c46.1c9ca4","type":"ui_tab","z":"96fc163a.5b92a8","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"3b262783.b4a9d8","type":"ui_group","z":"96fc163a.5b92a8","name":"New","tab":"cef56b3e.c4cfb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"ebd615ac.317df8","type":"ui_tab","z":"","name":"SHOP FOR ESSENTIALS","icon":"dashboard","disabled":false,"hidden":false},{"id":"6add0fd7.aea26","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3ae4bb8a.8a50f4","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"tpx8ox.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"ee43ddf8.1056","type":"ui_group","z":"","name":"Shopping","tab":"ebd615ac.317df8","order":3,"disp":true,"width":9,"collapse":false},{"id":"b1b11140.4e4ef","type":"inject","z":"96fc163a.5b92a8","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"Hello Node-RED!","payloadType":"string","x":141,"y":61,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"96fc163a.5b92a8","name":"","active":true,"console":"false","complete":"false","x":401,"y":87,"wires":[]},{"id":"22cc91b5.73caee","type":"debug","z":"c94ff7d1.95d008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":520,"wires":[]},{"id":"ecd569ff.b66ae8","type":"function","z":"c94ff7d1.95d008","name":"pre-token","func":"global.set(\"ye\",msg.payload.ye)\nvar apikey=\"iFDuW9DuX_rkqf6v-W-9FJsK5TlC9pDg3OLxnjhQT55W\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":380,"wires":[["83b8069b.bf7bb8"]]},{"id":"83b8069b.bf7bb8","type":"http request","z":"c94ff7d1.95d008","name":"","method":"POST","ret":"obj","paytoqs":"query","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":512.0000038146973,"y":424.00000286102295,"wires":[["cde65d45.4825","91439bbe.aa8b58"]]},{"id":"cde65d45.4825","type":"debug","z":"c94ff7d1.95d008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":300,"wires":[]},{"id":"91439bbe.aa8b58","type":"function","z":"c94ff7d1.95d008","name":"Pre Prediction","func":"var ye = global.get(\"ye\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"YearsExperience\"]],\"values\": [[ye]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":704.0000076293945,"y":376.0000021457672,"wires":[["7560da54.1504d4"]]},{"id":"7560da54.1504d4","type":"http request","z":"c94ff7d1.95d008","name":"","method":"POST","ret":"obj","paytoqs":"query","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/08c6074b-4814-4844-bffd-b29c3ee0bfed/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":400,"wires":[["4ebb0555.e1b25c","98e6de15.91ae9"]]},{"id":"4ebb0555.e1b25c","type":"debug","z":"c94ff7d1.95d008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1082.9999914169312,"y":484.00000381469727,"wires":[]},{"id":"39651806.4450d8","type":"inject","z":"c94ff7d1.95d008","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":220,"y":280,"wires":[["ecd569ff.b66ae8"]]},{"id":"ab16c5b9.e6af48","type":"debug","z":"c94ff7d1.95d008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":913.9999885559082,"y":267.0000057220459,"wires":[]},{"id":"98e6de15.91ae9","type":"function","z":"c94ff7d1.95d008","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":759.6000595092773,"y":308.00000190734863,"wires":[["ab16c5b9.e6af48"]]},{"id":"31c851ea.fed12e","type":"ui_form","z":"c94ff7d1.95d008","name":"","label":"","group":"","order":1,"width":0,"height":0,"options":[{"label":"YearsExperience","value":"ye","type":"number","required":true,"rows":null}],"formValue":{"ye":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":440,"wires":[["22cc91b5.73caee","ecd569ff.b66ae8"]]},{"id":"6e1a7272.49c91c","type":"ibmiot in","z":"dc2d7899.5a55f8","authentication":"apiKey","apiKey":"3ae4bb8a.8a50f4","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"7275","applicationId":"","deviceType":"Esp8266","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":210,"y":300,"wires":[["7315381a.034f78","e5bbbcd1.b091a"]]},{"id":"a9f6bf7c.9b1e5","type":"debug","z":"dc2d7899.5a55f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":220,"wires":[]},{"id":"7315381a.034f78","type":"function","z":"dc2d7899.5a55f8","name":"Temperature","func":"msg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":220,"wires":[["a9f6bf7c.9b1e5"]]},{"id":"e5bbbcd1.b091a","type":"function","z":"dc2d7899.5a55f8","name":"Humidity","func":"msg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":380,"wires":[["58308184.610d5","a9f6bf7c.9b1e5"]]},{"id":"58308184.610d5","type":"ui_gauge","z":"dc2d7899.5a55f8","name":"","group":"","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{Humidity}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":480,"wires":[]},{"id":"53891e85.af527","type":"ui_form","z":"511de045.8be1e","name":"","label":"","group":"ee43ddf8.1056","order":3,"width":0,"height":0,"options":[{"label":"Enter the input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"clear","topic":"","x":170,"y":320,"wires":[["922425ce.bb4b28"]],"icon":"node-red/comment.svg"},{"id":"922425ce.bb4b28","type":"function","z":"511de045.8be1e","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":260,"wires":[["93dafd36.a8f2c","c98fb1a1.3d448"]]},{"id":"9ae0ba5d.040658","type":"function","z":"511de045.8be1e","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":300,"wires":[["f424c461.eff828"]]},{"id":"93dafd36.a8f2c","type":"watson-conversation-v1","z":"511de045.8be1e","name":"","workspaceid":"72a89742-3659-4072-b73f-80b87d47b53b","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/0315a3ad-998f-44f7-8617-db87aa4bfea7","timeout":"","optout-learning":false,"x":580,"y":160,"wires":[["1455ceda.c68ec1","9ae0ba5d.040658"]]},{"id":"1455ceda.c68ec1","type":"debug","z":"511de045.8be1e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":100,"wires":[]},{"id":"c98fb1a1.3d448","type":"ui_text","z":"511de045.8be1e","group":"ee43ddf8.1056","order":1,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":400,"wires":[]},{"id":"f424c461.eff828","type":"ui_text","z":"511de045.8be1e","group":"ee43ddf8.1056","order":2,"width":"9","height":"4","name":"","label":"Bot              ","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":420,"wires":[]},{"id":"bc66e55b.f22a38","type":"template","z":"fb64d61.514ee28","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<html>\n<body style=\"background-color:pink;\">\n\n<h1>ALL IN ONE SUPERMARKET: THE COMPLETE SHOP FOR ESSENTIALS</h1>\n\n<img src=\"https://www.aeonstores.com.hk/shop_info/download?id=100&q[id_eq]=100&f=image\" alt=\"Girl in a jacket\" width=\"1500\" height=\"600\">\n\n<b>\n    USE THE GIVEN CHATBOT TO GET THE LIST OF ITEMS AVAILABLE,OFFERS AVAILABLE AND PLACE ORDERS</b>\n</body>\n</html>\n\n<script>\n  window.watsonAssistantChatOptions = {\n      integrationID: \"ae586550-77b4-4086-b0e8-b203a8176651\", // The ID of this integration.\n      region: \"eu-gb\", // The region your integration is hosted in.\n      serviceInstanceID: \"0315a3ad-998f-44f7-8617-db87aa4bfea7\", // The ID of your service instance.\n      onLoad: function(instance) { instance.render(); }\n    };\n  setTimeout(function(){\n    const t=document.createElement('script');\n    t.src=\"https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js\";\n    document.head.appendChild(t);\n  });\n</script>","output":"str","x":610,"y":240,"wires":[["d8ddb9ca.4ff038"]]},{"id":"d8ddb9ca.4ff038","type":"http response","z":"fb64d61.514ee28","name":"","statusCode":"","headers":{},"x":860,"y":300,"wires":[]},{"id":"f2773d31.f1205","type":"http in","z":"fb64d61.514ee28","name":"","url":"/getname","method":"get","upload":false,"swaggerDoc":"","x":360,"y":300,"wires":[["bc66e55b.f22a38"]]}]